.container-fluid
        .container-footer
            .map
                iframe(src='https://yandex.ru/map-widget/v1/?um=constructor%3A715db99cfc54c55279c4aba4dd5a9e529f38b805f464a611efb11238fbe1ed8c&source=constructor', width='1920', height='377', frameborder='0')
                .contacts
                    h1 Контакты
                    p Краснодар Тургеневское шоссе,25
                    a(href='tel:+78612123492') +7(861)-212-34-92
                    form

                        input(type="tel" placeholder="Введите телефон")
                        .call
                            button ЗАКАЗАТЬ ЗВОНОК













