.container-fliud
    .container
        .nav
            .offer-header
                .logo
                    img(src='img/logo.png')
                .adress
                    img(src="img/location_icon.svg" alt="icon")
                    p Краснодар, Тургеневское шоссе, 25
                .hamburger(onclick='myFunction(this)')
                    .bar1
                    .bar2
                    .bar3

            .offer-text
                h1 Только до конца октября
                    span
                        br
                        | масштабные выгоды
                    br
                    |   на весь модельный ряд!
                .offer-button
                    a(href='#' class='btn') Забрать выгоду
            .offer-menu
                h2 Подберите свой KIA
                .menu-list
                    ul
                        l1
                            a(href='#') Picanto
                        l1
                            a(href='#') Rio
                        l1
                            a(href='#') Rio X-line
                        l1
                            a(href='#') Ceed SW
                        l1
                            a(href='#') Cerato NEW
                    ul
                        l1
                            a(href='#') Optima NEW
                        l1
                            a(href='#') Stinger
                        l1
                            a(href='#') Quoris
                        l1
                            a(href='#') Soul
                        l1
                            a(href='#') Sportage
                    ul
                        l1
                            a(href='#') Sorento
                        l1
                            a(href='#') Sorento Prime
                        l1
                            a(href='#') Mohave

        .credit
            .credit-header
                .credit-button
                    a(href="#") заказать звонок
                .kia-logo
                    img(src="img/logo_kia.png" alt="Kia Logo")
            .credit-image
                img(src="img/car-image.png" alt="Cars")
            .credit-text
                 h1 Супер кредит 0,1%
                 p на Kia sportage, stinger, sorento, sorento prime
            .credit-input
                form
                 input(type="tel" placeholder="Введите Номер")
                 button(class='form-button') получить кредит

script(src="scripts/main.js")