.container-fluid
        .container-rio
            .kia-xline
                .kia__rio
                    h1 KIA Rio X-Line
                    img.firstcar(src='img/car1.png')
                .myBlock
                    .gift__logo
                        img.car__logo(src='img/logocar.png')
                        p
                            | Зимняя резина
                            br
                            | в подарок

                    .gift__h1
                        h1 Выгода до 60 000 руб.
                    .button
                        a.firstbtn(href='#') В кредит за 3 500 р./мес
                        a.secondbtn(href='#') Получить выгоду
                        a.thirdbtn(href='#') Cпецпредложение
            .kia-ceed
                .kia__rio
                    h1
                        | KIA Ceed
                        span.colortext  New

                    img.firstcar(src='img/car2.png')

                .myBlock2
                    .gift__logo
                        img.car__logo(src='img/logocar.png')
                        p
                            | Зимняя резина
                            br
                            | в подарок

                    .gift__h1
                        h1 Выгода до 60 000 руб.
                    .button
                        a.firstbtn(href='#') В кредит за 3 500 р./мес
                        a.secondbtn(href='#') Получить выгоду
                        a.thirdbtn(href='#') Cпецпредложение



